body {
  font-family: Arial, sans-serif;
  background: #eef1f5;
}

.app {
  width: 360px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
}

#preview img {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 6px;
}

#error {
  color: red;
  margin-top: 10px;
}
